@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body bg-gray-100 text-gray-700;
}

/* https://stackoverflow.com/a/34776130 */
@keyframes heartFadeInOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.97);
  }
  35% {
    transform: scale(0.9);
  }
  45% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(0.9);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

#heart {
  animation-name: heartFadeInOut;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
